{
	"server": {
		"address": "0.0.0.0",
		"port": "5053"
	},
	"Records": {
		"domain": [
			{
				"record": "gw.ear.pm.",
				"ttl": "60",
				"A": "192.168.178.1",
				"MX": {},
				"SRV": {}
			},
			{
				"record": "store.ear.pm.",
				"ttl": "60",
				"A": "192.168.178.7",
				"MX": {},
				"SRV": {}
			},
			{
				"record": "atlas.ear.pm.",
				"ttl": "60",
				"A": "192.168.178.30",
				"MX": {},
				"SRV": {}
			},
			{
				"record": "themis.ear.pm.",
				"ttl": "60",
				"A": "192.168.178.40",
				"MX": {},
				"SRV": {}
			}
		]
	}
}